nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
  background-color: #0A2749;
   box-shadow: rgb(0, 0, 0,0.5) 0px -2px 10px 0;
   padding: 1rem 2rem;
   text-decoration: none;
}
.brand{
    font-size: 1.2rem;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;

}
.links_list{
    display: flex;
    list-style-type:none ;
}



.links_list li{
    margin-right: 1rem;
    background-color: #0A2749;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adiciona uma sombra sutil */
}

.links_list li a{
    color: inherit;
    text-decoration: none;
}

.links_list li:hover{
    background-color: #062346;
    color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); 
}


.hamburger {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 10px;
      z-index: 999;
    }
  
    .links_list {
      display: none;
      position: absolute;
      top: 2.5rem;
      right: 0;
      width: 100%;
      background-color: #0A2749;
      padding: 1rem;
      list-style-type: none;
      text-align: right;
    }
  
    .links_list.show {
      display: block;
    }
  
    .links_list li {
      margin-bottom: 0.5rem; /* Espaçamento entre os itens */
      display: block; /* Exibir os itens como blocos */
    }
  
    .links_list a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1rem; /* Tamanho da fonte reduzido */
      text-transform: uppercase;
      display: block;
    }
  
    .links_list a:hover {
      color: #62C1FF;
    }
  }

