/* Estilos para telas maiores */
.create_Post {
    text-align: center;
}

.create_Post h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.create_Post p {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.create_post form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin-top: 2em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 15px 1px;
}

.customFileInput {
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border-radius: 4px;
}

.customFileInput:hover {
    background-color: #e1e1e1;
}


@media screen and (max-width: 768px) {
    .create_Post {
        text-align: left;
    }

    .create_Post h1 {
        font-size: 1.8rem;
    }

    .create_Post p {
        font-size: 1.8rem;
    }

    .create_post form {
        padding: 0.5rem;
    }
    .create_post form {
        padding: 0.5rem;
        min-width: 250px; 
        margin-left: auto;
        margin-right: auto;
    }
}
